.custom-dropdown-title-s {
  color: black;
  padding-right: 10px;
}

.bi-service {
  color: #b0b2b5;
  padding-left: 20px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: white;
}
.navbar-expand-lg .navbar-nav .lg-nav-link .nav-link {
  color: black;
}

.nav-link-service {
  color: #303030;
  text-decoration: none;
  transition: background-color 0.3s;
  padding-right: 10px;
}

.dropdown-menu-service {
  display: none;
  position: absolute;
  list-style: none;
  padding: 0;
}

.dropdown-item-service {
  color: #000000;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.nav-item-service {
  font-size: 18px;
  padding-left: 40px;
}

.sticky-top {
  display: transparent;
  background-color: white;
}

.icons-service-navi {
  text-decoration: none;
  font-size: 15px;
  text-align: end;
  padding-top: 1%;
}
.icons-service-navis {
  padding-right: 145px;
}

.navbar-custom-service {
  padding: 10px 25px;
  box-sizing: border-box;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
}

.bi-navi {
  color: #707070;
  margin-left: 25px;
  font-size: 14px;
}

.alsi-ser-nav {
  width: 80px;
  height: 100px;
}

@media (max-width: 460px) {
  .alsi-ser-nav {
    width: 40px;
    height: 50px;
  }

  .bi-navi {
    color: #707070;
    margin-left: 20px;
    font-size: 10px;
  }
  .navbar-brand-service {
    padding-left: 0;
    padding-bottom: 0px;
  }

  .navbar-custom-service {
    padding-right: 40px;
    box-sizing: border-box;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
    width: 100%;
  }

  .icons-service-navi {
    text-decoration: none;
    font-size: 14px;
    text-align: end;
    padding-top: 1%;
    padding-left: 12px;
  }

  .icons-service-navis {
    padding-right: 45px;
  }
}
