.wh-serv-nav-bg {
    width: 100%;
    height: 450px;
    background-size: cover;
    background-image: 
      url("/public/images/WareHouse/WAREHOUSINGANDDISTRIBUTIONBanner.jpg");
    background-position: center;
  }
  
  .quote {
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 0;
    z-index: 3;
  }
  
  .wh-serv-text {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 700;
    padding-top: 180px;
  }
  
  .wh-serv-text1 {
    color: rgb(255, 255, 255,0.8);
    font-size: 16px;
    padding-top: 5px;
  }
  
  .wh-serv-text-nav {
    font-size: 16px;
  }
  
  .wh-serv-text-nav-pad {
    padding-left: 180px;
    padding-right: 180px;
  
    @media (max-width: 460px) {
      padding-left: 20px;
      padding-right: 20px;
      text-align: justify;
    }
  }
  
  .wh-serv-quote-img img {
    width: 50px;
    padding-top: 150px;
    position: fixed;
    justify-content: right;
    right: 0;
  }
  
  /* Media Query*/
  
  @media (min-width: 280px) and (max-width: 320px){
    .wh-serv-quote-img img {
      width: 28px;
      padding-top: 100px;
      position: fixed;
      right: 0;
    }
  
    .wh-serv-text {
      color: rgb(255, 255, 255);
      font-size: 40px;
      font-weight: 700;
      padding-top: 100px;
    }
  
    .wh-serv-nav-bg {
      width: 100%;
      height: 300px;
      background-size: cover;
      background-image: 
        url("/public/images/WareHouse/WAREHOUSINGANDDISTRIBUTIONBanner.jpg");
      background-position: center;
      margin-bottom: 15px;
    }
    
    .wh-serv-text1 {
      display: none;
    }
  }
  
  @media (min-width: 321px) and (max-width: 480px){
    .wh-serv-quote-img img {
      width: 30px;
      padding-top: 100px;
      position: fixed;
      right: 0;
    }
  
    .wh-serv-text {
      color: rgb(255, 255, 255);
      font-size: 40px;
      font-weight: 700;
      padding-top: 100px;
    }
  
    .wh-serv-nav-bg {
      width: 100%;
      height: 300px;
      background-size: cover;
      background-image: 
        url("/public/images/WareHouse/WAREHOUSINGANDDISTRIBUTIONBanner.jpg");
      background-position: center;
      margin-bottom: 15px;
    }
    
    .wh-serv-text1 {
  display: none;
    }
  }
  
  
  @media (min-width: 481px) and (max-width: 600px) {
    .wh-serv-quote-img img {
      width: 30px;
      padding-top: 100px;
      position: fixed;
      right: 0;
    }
  
    .wh-serv-text {
      color: rgb(255, 255, 255);
      font-size: 40px;
      font-weight: 700;
      padding-top: 100px;
    }
  
    .wh-serv-nav-bg {
      width: 100%;
      height: 300px;
      background-size: cover;
      background-image: 
        url("/public/images/WareHouse/WAREHOUSINGANDDISTRIBUTIONBanner.jpg");
      background-position: center;
      margin-bottom: 15px;
    }
    
    .wh-serv-text1 {
  display: none;
    }
  }
  
  @media (min-width: 601px) and (max-width: 768px) {
    .wh-serv-quote-img img {
      width: 35px;
      padding-top: 100px;
      position: fixed;
      right: 0;
    }
  
    .wh-serv-text {
      color: rgb(255, 255, 255);
      font-size: 30px;
      font-weight: 700;
      padding-top: 90px;
    }
  
    .wh-serv-nav-bg {
      width: 100%;
      height: 300px;
      background-size: cover;
      background-image: 
        url("/public/images/WareHouse/WAREHOUSINGANDDISTRIBUTIONBanner.jpg");
      background-position: center;
      margin-bottom: 15px;
    }
    
    .wh-serv-text1 {
      color: rgba(255, 255, 255, 0.8);
      font-size: 14px;
      padding: 2px 55px 0px 55px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 900px) {
    .wh-serv-quote-img img {
      width: 35px;
      padding-top: 100px;
      position: fixed;
      right: 0;
    }
  
    .wh-serv-text {
      color: rgb(255, 255, 255);
      font-size: 30px;
      font-weight: 700;
      padding-top: 90px;
    }
  
    .wh-serv-nav-bg {
      width: 100%;
      height: 300px;
      background-size: cover;
      background-image: 
        url("/public/images/WareHouse/WAREHOUSINGANDDISTRIBUTIONBanner.jpg");
      background-position: center;
      margin-bottom: 15px;
    }
    
    .wh-serv-text1 {
      color: rgba(255, 255, 255, 0.8);
      font-size: 14px;
      padding: 2px 35px 0px 35px;
    }
  }
  
  
  @media (min-width: 901px) and (max-width: 1024px) {
    .wh-serv-quote-img img {
      width: 35px;
      padding-top: 100px;
      position: fixed;
      right: 0;
    }
  
    .wh-serv-text {
      color: rgb(255, 255, 255);
      font-size: 30px;
      font-weight: 700;
      padding-top: 90px;
    }
  
    .wh-serv-nav-bg {
      width: 100%;
      height: 300px;
      background-size: cover;
      background-image: 
        url("/public/images/WareHouse/WAREHOUSINGANDDISTRIBUTIONBanner.jpg");
      background-position: center;
      margin-bottom: 15px;
    }
    
    .wh-serv-text1 {
      color: rgba(255, 255, 255, 0.8);
      font-size: 14px;
      padding: 2px 35px 0px 35px;
    }
  }
  
  @media (min-width: 1025px) and (max-width: 1200px) {
    .wh-serv-quote-img img {
      width: 35px;
      padding-top: 100px;
      position: fixed;
      right: 0;
    }
  
    .wh-serv-text {
      color: rgb(255, 255, 255);
      font-size: 30px;
      font-weight: 700;
      padding-top: 90px;
    }
  
    .wh-serv-nav-bg {
      width: 100%;
      height: 300px;
      background-size: cover;
      background-image: 
        url("/public/images/WareHouse/WAREHOUSINGANDDISTRIBUTIONBanner.jpg");
      background-position: center;
      margin-bottom: 15px;
    }
    
    .wh-serv-text1 {
      color: rgba(255, 255, 255, 0.8);
      font-size: 14px;
      padding: 2px 35px 0px 35px;
    }
  }
  