.f-beverage-def-start {
  width: 90%;
  /* Set the container width to 80% */
  margin: 0 auto;
  /* Center the container horizontally */
  padding: 60px 0;
}

.f-beverage-def-left,
.f-beverage-def-right {
  background-size: cover;
  height: 700px;
}

.f-beverage-def-left {
  background-image: url("../../images/Ind-Beverages/beverages.png");
}

.content-overlay {
  padding: 20px;
  color: white;
}

.f-beverage-def-head {
  padding-top: 120px;
  color: rgb(0, 0, 0);
}

.f-beverage-def-parag {
  padding-top: 20px;
  font-size: 18px;
  text-align: justify;
  color: black;
}

.f-beverage-def-bi {
  padding-left: 15px;
  font-size: 30px;
}

.f-beverage-def-parag-one {
  padding-top: 20px;
  color: black;
}

.f-beverage-def-learn {
  font-size: 18px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.f-beverage-def-start {
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;

  @media (max-width: 768px) {
    width: 100%;
    /* Full width on smaller screens */
    padding: 25px;
  }
}

.f-beverage-def-left,
.f-beverage-def-right {
  background-size: cover;
  height: 700px;

  @media (max-width: 768px) {
    height: 400px;
    /* Adjust height for smaller screens */
  }
}

.f-beverage-def-left {
  background-size: cover;
  height: 700px;

  @media (max-width: 768px) {
    height: auto;
  }
}

.f-beverage-def-right {
  background-size: cover;
  height: auto;

  @media (max-width: 768px) {
    height: auto;
    /* Adjust height for smaller screens */
  }

  @media (max-width: 460px) {
    height: auto;

  }
}

.content-overlay {
  padding: 20px;
  color: white;

  @media (max-width: 768px) {
    padding: 10px;
    /* Adjust padding for smaller screens */
  }
}

.f-beverage-def-head {
  padding-top: 120px;
  color: rgb(0, 0, 0);

  @media (max-width: 768px) {
    padding-top: 20px;
    /* Adjust padding-top for smaller screens */
  }
}

.f-beverage-def-parag {
  padding-top: 10px;
  font-size: 18px;
  text-align: justify;
  color: black;

  @media (max-width: 768px) {
    font-size: 16px;
    /* Adjust font size for smaller screens */
  }
}

.f-beverage-def-bi {
  padding-left: 15px;
  font-size: 30px;

  @media (max-width: 768px) {
    font-size: 24px;
    /* Adjust font size for smaller screens */
  }
}

.f-beverage-def-parag-one {
  padding-top: 20px;
  color: black;

  @media (max-width: 768px) {
    padding-top: 10px;
    /* Adjust padding-top for smaller screens */
  }
}

.f-beverage-def-learn {
  font-size: 18px;
  text-decoration: none;
  color: rgb(0, 0, 0);

  @media (max-width: 768px) {
    font-size: 16px;
    /* Adjust font size for smaller screens */
  }
}

@media (max-width: 460px) {
  .f-beverage-def-right {
    background-size: cover;
    height: auto;
  }

  .f-beverage-def-left {
    background-size: cover;
    height: 300px;
  }

  .f-beverage-def-head {
    padding-top: 0px;
  }

  .f-beverage-def-parag {
    padding-top: 10px;
    font-size: 16px;
    text-align: justify;
    color: black;
  }
  
}
