.layout-container {
  max-width: 95%;
  margin: 0 auto;
}

.floating-top-btn {
  position: fixed;
  bottom: 5%;
  right: 3%;
  background: #2044a2;
  z-index: 10;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px 15px;
  transition: all .4s ease-in-out;
}

.floating-top-btn:hover {
  color: #2044a2;
  background: white;
  border: 1px solid rgba(202, 199, 199, 0.105);
}
.floating-top-btn:active {
  color: #2044a2;
  background: white;
  border: 1px solid rgba(128, 128, 128, 0.105);
  padding: 15px 20px;
}
