.network-bg-main {
  width: 100%;
  height: 75vh;
  background: linear-gradient(45deg, #193377, #077bbd);
  color: white;
  padding: 100px 0;
}

/* .map-oman-hovered {
  opacity: 0;
}
.map-oman-hovered:hover,
.map-image.oman.hovered~ .map-oman-hovered {
  opacity: 1;
} */

/* .map-uae-hovered {
  display: none;
}
*/
.map-image.uae.map-uae-hovered {
  display: block;
  max-width: 65px;
  left: 56%;
}
.map-quatar-hovered {
  display: none;
}
.map-quatar-hovered:hover,
.map-image.quatar:hover ~ .map-quatar-hovered {
  display: block;
}
.map-saudi-hovered {
  display: none;
}
.map-saudi-hovered:hover,
.map-image.saudi:hover ~ .map-saudi-hovered {
  display: block;
}

.map-image {
  max-width: 270px;
}
.map-image.oman {
  max-width: 100px;
  position: absolute;
  top: 44%;
  left: 58%;
}
.map-image.saudi {
  position: absolute;
  top: -2%;
  left: 13%;
}
.quatar {
  position: absolute;
  top: 37%;
  left: 53.5%;
  width: 100%;
  max-width: 15px;
  z-index: 4;
}
.uae {
  position: absolute;
  max-width: 60px;
  top: 40%;
  left: 56%;
  z-index: 4;
}

.map-container-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: max-content;
  height: max-content;
  transform: translate(-50%, -50%);
}

.map-container {
  transform: scale(1);
  width: 500px;
  height: 303px;
  margin: auto;
  position: relative;
  right: 10%;
}
@media (min-width: 420px) {
  .map-container {
    right: unset;
  }
  .map-image.oman {
    max-width: 100px;
    position: absolute;
    top: 47%;
    left: 58%;
  }
  .map-image.saudi {
    position: absolute;
    top: 13%;
    left: 13%;
  }
  .quatar {
    position: absolute;
    top: 39.2%;
    left: 53.5%;
    width: 100%;
    max-width: 15px;
    z-index: 4;
  }
  .uae {
    position: absolute;
    max-width: 60px;
    top: 42.2%;
    left: 56%;
    z-index: 4;
  }
}
@media (min-width: 576px) {
  .map-container {
    transform: scale(1.5);
    left: 5%;
  }
}
@media (min-width: 768px) {
  .map-container {
    transform: scale(1.7);
  }
}
@media (min-width: 992px) {
  .network-bg-main {
    height: 100vh;
  }
  .map-container {
    transform: scale(1.5);
  }
}
@media (min-width: 1200px) {
  .map-container {
    transform: scale(1.5);
  }

  .map-image.oman {
    max-width: 100px;
    position: absolute;
    top: 47%;
    left: 58%;
  }
  .map-image.saudi {
    position: absolute;
    top: 10%;
    left: 13%;
  }
  .quatar {
    position: absolute;
    top: 39.2%;
    left: 53.5%;
    width: 100%;
    max-width: 15px;
    z-index: 4;
  }
  .uae {
    position: absolute;
    max-width: 60px;
    top: 42.2%;
    left: 56%;
    z-index: 4;
  }
}
@media (min-width: 1400px) {
  .map-image.oman {
    max-width: 100px;
    position: absolute;
    top: 44%;
    left: 58%;
  }
  .map-image.saudi {
    position: absolute;
    top: 10%;
    left: 13%;
  }
  .quatar {
    position: absolute;
    top: 37%;
    left: 53.5%;
    width: 100%;
    max-width: 15px;
    z-index: 4;
  }
  .uae {
    position: absolute;
    max-width: 60px;
    top: 40%;
    left: 56%;
    z-index: 4;
  }
}

@media (min-width: 1600px) {
  .map-container {
    transform: scale(3);
  }
}
